<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rjfun.best2048" version="1.0.20140715" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Best2048</name>
    <description>
        The most funny 2048 game, the best!
    </description>
    <author email="rjfun.mobile@gmail.com" href="http://rjfun.com/">
        RjFun
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
</widget>
